.overlay{
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 999;
    background: rgba(255,255,255,0.8) url("https://cdn.jsdelivr.net/gh/korablin/go-mod-test1@master/loading-transparent.gif") center no-repeat;
}
/* Turn off scrollbar when body element has the loading class */
.in_process{
    overflow: hidden;   
}
/* Make spinner image visible when body element has the loading class */
.in_process .overlay{
    display: block;
}
